<div style="background-color: Gainsboro;">
    <h1 align="center"> Witaj w CSV_Maker! <h1>
    <h1 align="center"> Dane do CSV <h1>

    <div align= "center" >
      <%= form_tag("/xx") do %>
        <p>Wybierz organizację</p>
        <%= select_tag "organizations", options_for_select(@organizations.collect{ |organization| [organization["displayName"], organization["id"]] }) %>
        <p>Wybierz tablicę</p>
        <%= select_tag "boards", options_for_select(@boards.collect{ |board| [board["name"], board["id"]] }) %>
        <p>Wybierz zakres dat (od ... do ...)</p>
        <%= text_field_tag 'from', Date.today.strftime("%m/%d/%Y"), "data-provide":"datepicker" %>
        <%= text_field_tag 'to', Date.today.strftime("%m/%d/%Y"), "data-provide":"datepicker" %>
      <%= submit_tag "Stwórz CSV" %>
      <% end %>

    <div style="display:flex">
      <div style="width:50%;">
        <%= link_to "https://trello.com", target: :blank do %>
          <%= image_tag("Trello.png", style:"width: 100%") %>
        <% end %>
     </div>
     <div style="width:50%">
       <%= link_to "https://pl.wikipedia.org/wiki/CSV_(format_pliku)", target: :blank do %>
       <%= image_tag("csv.png", style:"width: 100%") %>
       <% end %>
     </div>
    </div>
    <div>
      <%= link_to "https://eengine.pl/pl", target: :blank do %>
      <%= image_tag("pobrane.png", style:"width: 10%") %>
      <% end %>
    </div>
  </div>
</div>
