<div>
  <section class="jumbotron">
  <h1 class="text-center main-head"> Witaj w CSV_Maker! <h1>
  </section>
  <div style="display:flex">
    <div style="width:50%;">
      <%= link_to "https://trello.com", target: :blank do %>
        <%= image_tag("Trello.png", style:"width: 100%") %>
      <% end %>
   </div>
   <div style="width:50%">
     <%= link_to "https://pl.wikipedia.org/wiki/CSV_(format_pliku)", target: :blank do %>
     <%= image_tag("csv.png", style:"width: 100%") %>
     <% end %>
   </div>
  </div>
  <div align="center">
    <%= link_to "https://eengine.pl/pl", target: :blank do %>
    <%= image_tag("pobrane.png", style:"width: 10%") %>
    <% end %>
  </div>
</div>
<footer> Wykonał Ignacy Dębski, praktykant eEngine sp. z.o.o Kwiecień/Maj 2018r. przy pomocy m.in. Rafała pseudonim "Gorzki" </footer>
